/* Moblie Nav bar */

@media screen and (max-width: 700px) {
    nav {
        display: none;
    }

    .nav-toggle:checked ~ nav {
        display: block;
        width: 100%;
    }
    
    #menu {
        width: 60%;
        text-align: center;    
        overflow:visible;
        position:absolute;
        margin-left: 100px
    }


    .dropdownbackground {
        background-color: rgba(179,0,0, 0.8);
        
    }
    
    .dropdownrecipes {
        background-color: rgba(179,0,0, 0.8);
        width: 100%;
        
    }
    
    .mobilemargintop {
        margin-top:248px
    }
}

@media screen and (min-width: 700px) {
    .burger {
        display:none;  
    }
    
    #nav-toggle-column {
        display: none;
    }

    .dropdown {
        float: right;
        overflow: hidden;
        margin-right:100px
    }
}

.nav-toggle {
    display: none;
    
}

.burger {
    font-size: 300%;
    float: left;
    padding: 15px;
    margin-right: 10px;
    color: #3f0000;
    margin-top: 230px;
    position: absolute;
}


/* nav bar css */

.nav {
    margin-top: 230px
}

#navimage {
    background: url('/assets/images/bbqlovin.jpeg') center center;
    height: 400px;
    width: 100%;
    zoom: 55%;
    position: fixed;
}


#menu {
    font-size: 140%;
    letter-spacing: 2px;
    line-height: 75px;
    margin-right: 10%;
    font-weight:bold;
    
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 14px 16px;
}

#menu a:hover {
    border-bottom: 4px solid #b30000;

}

.active {
    border-bottom: 4px solid #b30000;
    border-top: 4px solid #b30000;
}


/* dropdown menu for recipes */



.dropdown .dropdownbtn  {
    border: none;
    outline: none;
    font-size: 110%;
    letter-spacing: 2px;
    background-color: inherit;
    font-family: inherit;
    font-weight:bold;
}

.dropdownrecipes {
    display: none;
    position: absolute;
    min-width: 180px;
}

.dropdownrecipes a {
    
    color: black;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
    text-align: center;
    block-size: 30px;
    line-height: 90%;
    
}

.dropdownrecipes a:hover {
    border-bottom: 4px solid #b30000;
  }

  .dropdown:hover .dropdownrecipes {
    display: block;
  }


/* dropdown menu css end */

body {
    font-family: 'Roboto', sans-serif;
}

#backgroundimage {
    background: url('/assets/images/woodbackground.jpg');
    width: 100%
}


#intro {
    text-align: center;
    width:100%;
}

.img {
    width:40%;
    border-radius: 50%;
}

.mainpageinfoleft {
    font-weight:bold;
    width; 50%;
    float: left;
    margin-left; 50px;
}