/* Moblie Nav bar */

@media screen and (max-width: 700px) {
    nav {
        display: none;
    }

    .nav-toggle:checked ~ nav {
        display: block;
    }
    
}

@media screen and (min-width: 700px) {
    .burger {
        display:none;
        
    }
    
}

.nav-toggle {
    display: none;
    
}

.burger {
    font-size: 400%;
    float: right;
    padding: 15px;
    margin-right: 10px;
}

/* nav bar css */

#navimage {
    background: url('/assets/images/bbqlovin.jpeg') center center;
    height: 400px;
    width: 100%;
    zoom: 55%;
}


#menu {
    font-size: 140%;
    letter-spacing: 2px;
    line-height: 75px;
    overflow: hidden;
    float: right;
    margin-right: 10%;
    font-weight:bold
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    padding: 14px 16px;
}

#menu a:hover {
    border-bottom: 2px solid #b30000;

}

.active {
    border-bottom: 2px solid #b30000;
}

/* dropdown menu for recipes */

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropdownbtn  {
    border: none;
    outline: none;
    font-size: 110%;
    letter-spacing: 2px;
    background-color: inherit;
    font-family: inherit;
    font-weight:bold
}

.dropdownrecipes {
    display: none;
    position: absolute;
    min-width: 180px;
}

.dropdownrecipes a {
    
    color: black;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
    text-align: center;
    block-size: 20px;
    line-height: 90%
}

.dropdownrecipes a:hover {
    background-color: #b30000;
  }

  .dropdown:hover .dropdownrecipes {
    display: block;
  }


/* dropdown menu css end */

body {
    font-family: 'Roboto', sans-serif;
}

#backgroundimage {
    background: url('/assets/images/woodbackground.jpg');
    width: 100%
}